/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f5;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Align bottom */
  align-items: center;
  display: flex;
}

html {
  height: 100%;
  overflow-y: auto;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 600px;
  justify-content: center;

}

h1 {
  font-weight: 700;
  font-size: 2em;
  color: #4CAF50;
  margin-bottom: 20px;
}

form {
  margin-top: 20px; /* Move form to top */
}

input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

button.btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.form-group {
  display: flex;
  align-items: flex-start;
}

.form-group p {
  margin: 0;
  width: 80%;
}

.form-group button {
  margin-left: auto;
}
button.btn:hover {
  background-color: #45a049;
}

/* Ajustes para o conteúdo da conversa */
.conversation {
  margin-top: 20px;
  text-align: left;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  max-height: 400px; /* Limita a altura da conversa */
  overflow-y: auto; /* Habilita rolagem apenas na conversa se necessário */
}

.usuario, .chatbot {
  margin-bottom: 10;
}