{% load static %}
{% comment %} {% load index_filter %} {% endcomment %}
{% load markdown_filter %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FlexQuest - Chatbot</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>FlexQuest - Chatbot</h1>
      <div class="conversation">
        {% for conversa in conversas %}
          <p class="usuario">
            <strong>Você:</strong> {{ conversa.pergunta }}
          </p>
          {% comment %} {% if conversa.resposta.analysis %}
            {{ conversa.resposta.analysis.title }}
          {% endif %} {% endcomment %}

          <div class="chatbot-content">
            <strong>Chatbot:</strong>
            <p>{% if conversa.resposta.analysis %}{{ conversa.resposta|markdown }}{% endif %}</p>
        </div>
        {% endfor %}
        {% comment %} {% if resposta %}
          <p class="usuario">
            <strong>Você:</strong> {{ pergunta }}
          </p>
          <p class="chatbot">
            <strong>Chatbot:</strong> {{ resposta }}
          </p>
        {% endif %} {% endcomment %}
      </div>
      <form method="post" class="form-actions">
        {% csrf_token %}

        <div class="form-group">
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

  </body>
</html>
